@import url(https://latex.now.sh/style.min.css);

body{max-width: 100%; line-height: 1.5}
*{font-family: "Andika";}
code, pre{font-family: "Cascadia code"}

.box
{
	border:1px solid;
	padding: 0.5rem;
	margin:1rem;
	border-radius: 0.5rem
}

.range_content > li
{
	display:inline list-item;
	margin-right:1rem
}

.range_content > li::marker
{
	content: "[" counter(list-item) "]\00A0";
	font-size: small
}

.tuple_content > li
{
	display:inline list-item;
	margin-right:1rem
}

.tuple_content > li::marker
{
	content: "[" counter(list-item) "]\00A0";
	font-size: small
}

figure
{
	max-width:62%;
	max-height:38vh; 
	aspect-ratio:16/10;
	border:1px solid;
	margin-left:auto;
	margin-right:auto
}
