*{font-family:"Andika"}

*{box-sizing:border-box}

html{height: 100%; margin:0; padding: 0}
body{height: 100%; margin:0; padding: 0; background-color:aliceblue;}
textarea{font-family: "Cascadia code"; font-size: 14px; border-radius: 0.25rem}
iframe{border-radius: 0.25rem}
label{margin-right:0.25rem; margin-left:0.5rem}
input{margin-right:0.25rem; border-radius: 0.25rem}

#app
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column
}

#actions
{
	width:100%;
	padding:0.5rem;
	padding-left:0.0rem;
	display: flex;
}

#filename
{
	flex-grow: 1;
}

#main
{
	display: flex;
	padding-bottom: 0.5rem;
	flex-grow: 1
}

#source_editor
{
	width: max-content;
	border: 1px solid;
	overflow: auto;
	padding: 0.5rem;
	margin: 0px;
	white-space: pre;
	tab-size: 4;
	margin-right:0.25rem;
	margin-left:0.5rem;
	resize: horizontal;
}

#output_frame
{
	width: max-content;
	margin: 0px;
	border: 1px solid;
	overflow: auto;
	padding: 0rem;
	resize: horizontal;
	flex-grow: 1;
	margin-left:0.25rem;
	margin-right:0.5rem;
}

#status_frame
{
	height: 2rem;
	border: 0px;
}